annotated-types
anyio
appwrite
certifi
charset-normalizer
click
colorama
dice-ml
exceptiongroup
fastapi
filelock
fsspec
h11
httpcore
httpx
huggingface-hub
idna
Jinja2
joblib
llvmlite
mapie
MarkupSafe
mpmath
networkx
numba
numpy
openai
packaging
pandas
Pillow
polars
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
shap
six
slicer
sniffio
starlette
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typing_extensions
tzdata
urllib3
uvicorn
xgboost
websockets
motor
pymongo